<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>

<h1>Add New Comment to <%= campground.name %></h1>

<form action="/campgrounds/<%= campground._id %>/comments" method="POST">
    <input type="text" name="comment[text]" placeholder="Text">
    <input type="text" name="comment[author]" placeholder="Author">
    <button>Submit</button>
</form>
<a href="/campgrounds">Back</a>
<p>TradeMark YelpCamp 2020</p>        
</body>
</html>